## Part 1: Preprocessing

In [60]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [61]:
attrition_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EnvironmentSatisfaction      int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [62]:
# Determine the number of unique values in each column
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [63]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df

     Attrition              Department
0          Yes                   Sales
1           No  Research & Development
2          Yes  Research & Development
3           No  Research & Development
4           No  Research & Development
...        ...                     ...
1465        No  Research & Development
1466        No  Research & Development
1467        No  Research & Development
1468        No                   Sales
1469        No  Research & Development

[1470 rows x 2 columns]

In [64]:
attrition_df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [65]:
# Create a list of at least 10 column names to use as X data
columns = ['Age', 'DistanceFromHome','Education', 'JobSatisfaction',
           'NumCompaniesWorked', 'OverTime', 'StockOptionLevel',
           'WorkLifeBalance','YearsAtCompany', 'YearsSinceLastPromotion']

# Create X_df using your selected columns
X_df = attrition_df[columns]

# Show the data types for X_df
X_df.dtypes

Age                         int64
DistanceFromHome            int64
Education                   int64
JobSatisfaction             int64
NumCompaniesWorked          int64
OverTime                   object
StockOptionLevel            int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsSinceLastPromotion     int64
dtype: object

In [66]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, y_df)

In [67]:
X_train

,Age,DistanceFromHome,Education,JobSatisfaction,NumCompaniesWorked,OverTime,StockOptionLevel,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion
264,28,2,4,3,2,No,0,1,0,0
840,35,1,4,3,6,No,1,3,8,1
610,27,5,1,4,1,Yes,1,3,9,0
787,55,2,1,2,3,No,1,3,3,1
378,34,19,3,4,8,Yes,0,2,5,0
...,...,...,...,...,...,...,...,...,...,...
1386,26,1,3,1,0,No,0,2,7,7
311,45,7,3,1,1,No,1,3,24,9
795,37,10,4,4,2,Yes,3,3,1,0
143,30,18,3,3,1,No,0,2,5,0
96,24,3,2,3,0,No,1,2,3,0

In [68]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary

X_train['OverTime'] = X_train['OverTime'].map({'Yes': 1, 'No': 0})
X_test['OverTime'] = X_test['OverTime'].map({'Yes': 1, 'No': 0})

In [69]:
X_train['OverTime'].value_counts()

OverTime
0    782
1    320
Name: count, dtype: int64

In [70]:
X_train

,Age,DistanceFromHome,Education,JobSatisfaction,NumCompaniesWorked,OverTime,StockOptionLevel,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion
264,28,2,4,3,2,0,0,1,0,0
840,35,1,4,3,6,0,1,3,8,1
610,27,5,1,4,1,1,1,3,9,0
787,55,2,1,2,3,0,1,3,3,1
378,34,19,3,4,8,1,0,2,5,0
...,...,...,...,...,...,...,...,...,...,...
1386,26,1,3,1,0,0,0,2,7,7
311,45,7,3,1,1,0,1,3,24,9
795,37,10,4,4,2,1,3,3,1,0
143,30,18,3,3,1,0,0,2,5,0
96,24,3,2,3,0,0,1,2,3,0

In [71]:
# Create a StandardScaler
X_scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [72]:
y_train

     Attrition              Department
264        Yes  Research & Development
840         No  Research & Development
610         No  Research & Development
787         No  Research & Development
378        Yes                   Sales
...        ...                     ...
1386        No  Research & Development
311         No  Research & Development
795         No                   Sales
143         No  Research & Development
96          No                   Sales

[1102 rows x 2 columns]

In [73]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
dept_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Fit the encoder to the training data
dept_encoder.fit(np.array(y_train['Department']).reshape(-1, 1))

# Create two new variables by applying the encoder
# to the training and testing data

y_train_encoded = dept_encoder.transform(np.array(y_train['Department']).reshape(-1, 1))
y_test_encoded = dept_encoder.transform(np.array(y_test['Department']).reshape(-1, 1))

In [74]:
# Create a OneHotEncoder for the Attrition column
attr_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
# Fit the encoder to the training data
attr_encoder.fit(y_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
att_train_encoded = attr_encoder.transform(np.array(y_train['Attrition']).reshape(-1, 1))
att_test_encoded = attr_encoder.transform(np.array(y_test['Attrition']).reshape(-1, 1))

c:\Users\vuvee\anaconda3\envs\nn\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
c:\Users\vuvee\anaconda3\envs\nn\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

## Part 2: Create, Compile, and Train the Model

In [75]:
# Find the number of columns in the X training data.
number_input_features = X_train.shape[1]
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

# Create the input layer
input_layer = Input(shape=(number_input_features,))

# Create at least two shared layers
shared_layer1 = Dense(units=hidden_nodes_layer1, activation="relu")(input_layer)
shared_layer2 = Dense(units=hidden_nodes_layer2, activation="relu")(shared_layer1)

In [76]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
department_hidden = Dense(units=4, activation="relu")(shared_layer2)

# Create the output layer
department_output = Dense(units=1, activation="sigmoid", name="department_output")(department_hidden)

In [77]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attrition_hidden = Dense(units=4, activation="relu")(shared_layer2)  # Hidden layer

# Create the output layer
attrition_output = Dense(units=1, activation="sigmoid", name="attrition_output")(attrition_hidden)

In [78]:
# Create the model
nn = Model(inputs=input_layer, outputs=[department_output, attrition_output])


# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Summarize the model
nn.summary()

Model: "functional"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_layer         │ (None, 10)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense (Dense)       │ (None, 8)         │         88 │ input_layer[0][0] │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_1 (Dense)     │ (None, 5)         │         45 │ dense[0][0]       │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_2 (Dense)     │ (None, 4)         │         24 │ dense_1[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_3 (Dense)     │ (None, 4)         │         24 │ dense_1[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ department_output   │ (None, 1)         │          5 │ dense_2[0][0]     │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attrition_output    │ (None, 1)         │          5 │ dense_3[0][0]     │
│ (Dense)             │                   │            │                   │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 191 (764.00 B)

 Trainable params: 191 (764.00 B)

 Non-trainable params: 0 (0.00 B)

In [80]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train_encoded,epochs=20,batch_size=32)

Epoch 1/20

KeyError: "The path: (0,) in the `loss` argument, can't be found in either the model's output (`y_pred`) or in the labels (`y_true`)."

In [ ]:
# Evaluate the model with the testing data

In [ ]:
# Print the accuracy for both department and attrition

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.