## Part 1: Preprocessing

In [158]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [159]:
attrition_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EnvironmentSatisfaction      int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [160]:
# Determine the number of unique values in each column
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [161]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df

     Attrition              Department
0          Yes                   Sales
1           No  Research & Development
2          Yes  Research & Development
3           No  Research & Development
4           No  Research & Development
...        ...                     ...
1465        No  Research & Development
1466        No  Research & Development
1467        No  Research & Development
1468        No                   Sales
1469        No  Research & Development

[1470 rows x 2 columns]

In [162]:
attrition_df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [163]:
# Create a list of at least 10 column names to use as X data
columns = ['Age', 'DistanceFromHome','Education', 'JobSatisfaction',
           'NumCompaniesWorked', 'OverTime', 'StockOptionLevel',
           'WorkLifeBalance','YearsAtCompany', 'YearsSinceLastPromotion']

# Create X_df using your selected columns
X_df = attrition_df[columns]

# Show the data types for X_df
X_df.dtypes

Age                         int64
DistanceFromHome            int64
Education                   int64
JobSatisfaction             int64
NumCompaniesWorked          int64
OverTime                   object
StockOptionLevel            int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsSinceLastPromotion     int64
dtype: object

In [164]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, y_df)

In [165]:
X_train

,Age,DistanceFromHome,Education,JobSatisfaction,NumCompaniesWorked,OverTime,StockOptionLevel,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion
681,38,1,3,1,1,No,1,3,15,5
481,34,1,2,4,1,Yes,1,3,6,1
217,29,1,3,3,0,No,0,2,6,1
678,48,20,4,3,4,No,2,2,0,0
68,35,1,3,1,4,No,1,2,3,1
...,...,...,...,...,...,...,...,...,...,...
423,30,22,4,1,0,No,0,3,9,7
232,59,6,2,3,8,No,0,2,2,2
84,34,1,2,2,1,No,0,3,5,1
220,36,5,2,2,8,No,0,4,13,3
1124,39,6,3,3,2,No,1,3,7,7

In [166]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary

X_train['OverTime'] = X_train['OverTime'].map({'Yes': 1, 'No': 0})
X_test['OverTime'] = X_test['OverTime'].map({'Yes': 1, 'No': 0})

In [167]:
X_train['OverTime'].value_counts()

OverTime
0    786
1    316
Name: count, dtype: int64

In [168]:
X_train

,Age,DistanceFromHome,Education,JobSatisfaction,NumCompaniesWorked,OverTime,StockOptionLevel,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion
681,38,1,3,1,1,0,1,3,15,5
481,34,1,2,4,1,1,1,3,6,1
217,29,1,3,3,0,0,0,2,6,1
678,48,20,4,3,4,0,2,2,0,0
68,35,1,3,1,4,0,1,2,3,1
...,...,...,...,...,...,...,...,...,...,...
423,30,22,4,1,0,0,0,3,9,7
232,59,6,2,3,8,0,0,2,2,2
84,34,1,2,2,1,0,0,3,5,1
220,36,5,2,2,8,0,0,4,13,3
1124,39,6,3,3,2,0,1,3,7,7

In [169]:
# Create a StandardScaler
X_scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [170]:
y_train

     Attrition              Department
681         No  Research & Development
481         No  Research & Development
217        Yes  Research & Development
678         No  Research & Development
68          No  Research & Development
...        ...                     ...
423         No                   Sales
232         No         Human Resources
84          No  Research & Development
220         No  Research & Development
1124        No                   Sales

[1102 rows x 2 columns]

In [171]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
dept_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Fit the encoder to the training data
dept_encoder.fit(np.array(y_train['Department']).reshape(-1, 1))

# Create two new variables by applying the encoder
# to the training and testing data

dept_train_encoded = dept_encoder.transform(np.array(y_train['Department']).reshape(-1, 1))
dept_test_encoded = dept_encoder.transform(np.array(y_test['Department']).reshape(-1, 1))

In [172]:
# Create a OneHotEncoder for the Attrition column
attr_encoder = OneHotEncoder(sparse_output=False)
# Fit the encoder to the training data
attr_encoder.fit(y_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
att_train_encoded = attr_encoder.transform(np.array(y_train['Attrition']).reshape(-1, 1))
att_test_encoded = attr_encoder.transform(np.array(y_test['Attrition']).reshape(-1, 1))

c:\Users\vuvee\anaconda3\envs\nn\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
c:\Users\vuvee\anaconda3\envs\nn\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [173]:
att_test_encoded.shape

(368, 2)

## Part 2: Create, Compile, and Train the Model

In [174]:
# Find the number of columns in the X training data.
number_input_features = X_train.shape[1]
hidden_nodes_layer1 = 128
hidden_nodes_layer2 = 128

# Create the input layer
input_layer = Input(shape=(number_input_features,))

# Create at least two shared layers
shared_layer1 = Dense(units=hidden_nodes_layer1, activation="relu")(input_layer)
shared_layer2 = Dense(units=hidden_nodes_layer2, activation="relu")(shared_layer1)

In [175]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
department_hidden = Dense(units=32, activation="relu")(shared_layer2)

# Create the output layer
department_output = Dense(units=dept_train_encoded.shape[1], activation="softmax", name="department_output")(department_hidden)

In [176]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attrition_hidden = Dense(units=32, activation="relu")(shared_layer2)

# Create the output layer
attrition_output = Dense(units=att_train_encoded.shape[1], activation="softmax", name="attrition_output")(attrition_hidden)

In [177]:
# Create the model
nn = Model(inputs=input_layer, outputs=[department_output, attrition_output])


# Compile the model
nn.compile(
            loss={
                "department_output": "binary_crossentropy", 
                "attrition_output": "binary_crossentropy"
            }, 
            optimizer="adam", 
           metrics={
                "department_output": ["accuracy"],
                "attrition_output": ["accuracy"]
            },
            run_eagerly=True
        )


# Summarize the model
nn.summary()

Model: "functional_4"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_layer_10      │ (None, 10)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_37 (Dense)    │ (None, 128)       │      1,408 │ input_layer_10[0… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_38 (Dense)    │ (None, 128)       │     16,512 │ dense_37[0][0]    │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_39 (Dense)    │ (None, 32)        │      4,128 │ dense_38[0][0]    │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_40 (Dense)    │ (None, 32)        │      4,128 │ dense_38[0][0]    │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ department_output   │ (None, 3)         │         99 │ dense_39[0][0]    │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attrition_output    │ (None, 2)         │         66 │ dense_40[0][0]    │
│ (Dense)             │                   │            │                   │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 26,341 (102.89 KB)

 Trainable params: 26,341 (102.89 KB)

 Non-trainable params: 0 (0.00 B)

In [178]:
# Train the model
nn.fit(
    X_train, 
    {"department_output": dept_train_encoded, "attrition_output": att_train_encoded},
    epochs=10
)

Epoch 1/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 6s 168ms/step - attrition_output_accuracy: 0.8451 - attrition_output_loss: 0.4510 - department_output_accuracy: 0.5961 - department_output_loss: 0.5787 - loss: 1.0297
Epoch 2/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 5s 135ms/step - attrition_output_accuracy: 0.8381 - attrition_output_loss: 0.4626 - department_output_accuracy: 0.6472 - department_output_loss: 0.4837 - loss: 0.9463
Epoch 3/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 6s 164ms/step - attrition_output_accuracy: 0.8340 - attrition_output_loss: 0.4278 - department_output_accuracy: 0.6392 - department_output_loss: 0.4920 - loss: 0.9197
Epoch 4/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 10s 163ms/step - attrition_output_accuracy: 0.8419 - attrition_output_loss: 0.4016 - department_output_accuracy: 0.6276 - department_output_loss: 0.4938 - loss: 0.8954
Epoch 5/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 6s 174ms/step - attrition_output_accuracy: 0.8369 - attrition_output_loss: 0.4063 - department_output_accuracy: 0.6362 - department_output_loss: 0.4980 - loss: 0.9043
Epoch 6/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 11s 180ms/step - attrition_output_accuracy: 0.8391 - attrition_output_loss: 0.4028 - department_output_accuracy: 0.6657 - department_output_loss: 0.4688 - loss: 0.8716
Epoch 7/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 6s 168ms/step - attrition_output_accuracy: 0.8400 - attrition_output_loss: 0.3885 - department_output_accuracy: 0.6458 - department_output_loss: 0.4745 - loss: 0.8630
Epoch 8/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 7s 195ms/step - attrition_output_accuracy: 0.8531 - attrition_output_loss: 0.3616 - department_output_accuracy: 0.6752 - department_output_loss: 0.4697 - loss: 0.8313
Epoch 9/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 6s 171ms/step - attrition_output_accuracy: 0.8548 - attrition_output_loss: 0.3504 - department_output_accuracy: 0.6617 - department_output_loss: 0.4741 - loss: 0.8245
Epoch 10/10
35/35 ━━━━━━━━━━━━━━━━━━━━ 6s 174ms/step - attrition_output_accuracy: 0.8245 - attrition_output_loss: 0.4425 - department_output_accuracy: 0.6588 - department_output_loss: 0.4921 - loss: 0.9346

In [179]:
# Evaluate the model with the testing data
evaluations = nn.evaluate(
                            X_test_scaled, 
                            {"department_output": dept_test_encoded, "attrition_output": att_test_encoded}
                        )

12/12 ━━━━━━━━━━━━━━━━━━━━ 1s 63ms/step - attrition_output_accuracy: 0.6649 - attrition_output_loss: 0.6717 - department_output_accuracy: 0.6379 - department_output_loss: 0.6560 - loss: 1.3277

In [180]:
# Print the accuracy for both department and attrition
# Convert evaluation results to a dictionary
dept_accuracy = evaluations[-1]
att_accuracy = evaluations[-2]

print(f"Department accuracy: {dept_accuracy:.4f}")
print(f"Attrition accuracy: {att_accuracy:.4f}")

Department accuracy: 0.6522
Attrition accuracy: 0.6712

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.